[package]
name = "jsonwebtoken"
version = "6.0.0"
authors = ["Vincent Prouillet <prouillet.vincent@gmail.com>"]
license = "MIT"
readme = "README.md"
description = "Create and parse JWT in a strongly typed way."
homepage = "https://github.com/Keats/rust-jwt"
repository = "https://github.com/Keats/rust-jwt"
keywords = ["jwt", "web", "api", "token", "json"]

[dependencies]
serde_json = "1.0"
serde_derive = "1.0"
serde = "1.0"
ring = "0.14.4"
base64 = "0.10"
untrusted = "0.6"
chrono = "0.4"
