name: ci
on:
  push:
    branches:
      - master
  pull_request:


jobs:
  style:
    name: Format
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
        components: rustfmt

    - name: Check format
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: -- --check

  tests:
    name: Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [pinned, stable, nightly]
        include:
        - build: pinned
          os: ubuntu-18.04
          rust: 1.39.0
        - build: stable
          os: ubuntu-18.04
          rust: stable
        - build: nightly
          os: ubuntu-18.04
          rust: nightly
    steps:
    - uses: actions/checkout@v1
    - name: Install Rust
      uses: hecrj/setup-rust-action@v1
      with:
        rust-version: ${{ matrix.rust }}

    - name: Build System Info
      run: rustc --version

    - name: Run tests
      run: cargo test
